body {
  margin: 0;
  -ms-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
  -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
  -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
  -moz-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
  -ms-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
  -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter .fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fade-leave {
  opacity: 1;
}

.fade-leave .fade-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
